{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{sl.GameNumber}}" method="post">
    <div class="row">
        <div class="col">
            <label for="GameNumber">Game Number</label>
            <input id="GameNumber" type="text" class="form-control" placeholder="GameNumber"
                   name="GameNumber" value="{{GameNumber}}">
        </div>
        <div class="col">
            <label for="GameLength">Game Length</label>
            <input id="GameLength" type="text" class="form-control" placeholder="GameLength"
                   name="GameLength" value="{{GameLength}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

</form>
{% endblock %}

